@font-face {
  font-family: HyperSuperItalic3D;
  font-display: swap;
  src: url("../fonts/HyperSuperItalic3D.woff2") format("woff2"),
    url("../fonts/HyperSuperItalic3D.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: HyperSuperItalic;
  font-display: swap;
  src: url("../fonts/HyperSuperItalic.woff2") format("woff2"),
    url("../fonts/HyperSuperItalic.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: HyperSuperRegular3D;
  font-display: swap;
  src: url("../fonts/HyperSuperRegular3D.woff2") format("woff2"),
    url("../fonts/HyperSuperRegular3D.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: HyperSuperRegular;
  font-display: swap;
  src: url("../fonts/HyperSuperRegular.woff2") format("woff2"),
    url("../fonts/HyperSuperRegular.woff") format("woff");
  font-weight: 400;
}
